<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>预览图</title>
    <link rel="stylesheet" type="text/css" href="/tianmao/css/preview.css">
</head>
<body>
<img src="/tianmao/image/350ad06b-637b-47a1-bc1d-d0a6970e41de.png">
<h3>Demo1:选取一张图片，并预览</h3>
<input id="img_input" type="file" accept="image/*"/>
<label for="img_input"></label>
<div class="preview_box"></div>

<script  src="/tianmao/js/jquery.min.js"></script>
<script src="/tianmao/js/preview_js.js"></script>
</body>

</html>